@import "../../styles/variables";

.login:before {
  content: "";
  position: fixed;
  background-image: url("bg-login.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.login {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;

  .block-row {
    width: 100%;
    margin: auto;
  }

  .block {
    background-image: $primaryBgColor;
    max-width: 380px;
    width: auto;
    height: auto;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
  }

  .logo {
    border-width: 5px;
    border-style: solid;
    border-color: white;
    height: 80px;
    border-radius: 50%;
    transition: transform 1s ease-in-out
  }

  .logo:hover {
    transform: rotate(450deg)
  }

  .title {
    font-size: 40px;
    font-weight: 400;
    color: white;
    display: block;
  }

  input {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    color: $primaryText;
    border-radius: 8px;
    border-width: 0;
    padding: 8px;
  }

  input:focus {
    outline: none;
  }

  .forgot{
    text-align: right;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }

  button.primary-fill{
    width: 100%;
    padding: 10px;
  }

}
