@import "../../styles/variables";

input,
textarea {
  font-size: 14px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border-color: $primaryBorderColor;
  border-style: double;
  border-width: 1px;
}

input.invalid,
textarea.invalid {
  border-color: $primaryRedColor;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: $primaryColor;
}

.input {
  margin-bottom: 15px;

  span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

.input.hidden {
  display: none;
}

.main-input {
  display: flex;

  input[type="number"] {
    width: calc(100% - 60px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

  .unit {
    width: 60px;
    height: 39px;
    display: inline-block;
    padding: 8px;
    border-radius: 0px 8px 8px 0px;
    background-color: rgb(240, 240, 240);
    border: 1px solid $primaryBorderColor;
    border-left: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//Type date
input[type="date"] {
  height: 39px;
  -webkit-appearance: none;
  background-color: white;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  border-radius: 8px;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: 34px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 30px;
  padding-left: 15px;
  width: auto;
}
