@import "../../styles/variables";

input,
textarea {
  font-size: 14px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border-color: $primaryBorderColor;
  border-style: double;
  border-width: 1px;
}

input.invalid,
textarea.invalid {
  border-color: $primaryRedColor;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: $primaryColor;
}

@media (min-width: 576px) {
  .input.paddingTop {
    margin-top: 24px;
  }
}

.input {
  margin-bottom: 15px;

  .label {
    cursor: default;
    margin-bottom: 5px;

    span {
      font-size: 14px;
      font-weight: 400;
    }

    span.topic {
      font-size: 16px;
      font-weight: 500;
      color: $primaryColor;
    }

    span.warning {
      color: red;
    }
  }
}

.input.hidden {
  display: none;
}

.main-input {
  display: flex;

  input[type="checkbox"] {
    min-width: 21px;
    max-width: 21px;
    width: 21px;
    height: 21px;
    margin-top: 26px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  .span-checkbox {
    margin-top: 26px;
    font-weight: 400;
    cursor: default;
  }

  @media (max-width: 575px) {
    input[type="checkbox"] {
      margin-top: 0px;
    }

    .span-checkbox {
      margin-top: 0px;
    }
  }

  input[type="number"].not-full {
    width: calc(100% - 60px);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  input[type="number"].not-full::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }

  .unit {
    width: 60px;
    height: 39px;
    display: inline-block;
    padding: 8px;
    border-radius: 0px 8px 8px 0px;
    background-color: rgb(240, 240, 240);
    border: 1px solid $primaryBorderColor;
    border-left: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.file-name {
  position: absolute;
  bottom: 12px;
  left: 81px;
  background-color: white;
  max-width: calc(100% - 90px);
  width: calc(100% - 90px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  cursor: pointer;
}

.file-name:lang(en) {
  left: 107px;
  max-width: calc(100% - 116px);
  width: calc(100% - 116px);
}

input[type="file"] {
  cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}

//Type date
input[type="date"] {
  height: 39px;
  -webkit-appearance: none;
  background-color: white;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  border-radius: 8px;
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: 34px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 30px;
  padding-left: 15px;
  width: auto;
}

input[disabled] {
  background-color: hsl(0, 0%, 95%);
}
