@import "../../styles/variables";

.information {
  font-size: 14px;
  margin-bottom: 5px;

  &.img {
    display: flex;
  }

  span {
    display: block;
    font-weight: 400;
  }

  div {
    margin-left: 5px;
  }

  img {
    width: 150px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .not-upload {
    font-weight: 300;
  }

  a {
    &:hover {
      font-weight: 400;
      text-decoration: none;
      color: #007bff;
    }

    .fa-external-link {
      margin-left: 5px;
    }
  }
}
