@import "../../styles/variables";

.modal-loading {
  .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .modal-content {
    flex-direction: unset;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    pointer-events: auto;
    background-color: transparent;
    border: 0px;
  }

  .spinner-grow {
    width: 15rem;
    height: 15rem;
    margin: auto;
  }
}
