@import "../../styles/variables";

.table-select {
  margin-bottom: 0px;

  th {
    font-weight: 400;
    font-size: 14px;
  }

  td {
    //font-weight: 300;
    cursor: pointer;
    font-size: 14px;

    span {
      cursor: initial;
    }
  }

  tr {
    background-color: rgba(0, 165, 146, 0.08);
    border-bottom: 2px solid white;

    &:hover {
      background-color: rgba(0, 165, 146, 0.2);
    }
  }

  tr.select {
    background-color: rgba(0, 165, 146, 0.2);
  }

  .table-responsive {
    padding-left: 15px;
    padding-right: 15px;
  }

  .table td {
    border-top: 0px;
  }
}
