@import "../../styles/variables";

th {
  font-weight: 400;
  font-size: 14px;
}

td {
  //font-weight: 300;
  cursor: default;
  font-size: 14px;

  span {
    cursor: pointer;
  }
}

// .table-responsive {
//   max-height: 497px;
// }

// .table-responsive::-webkit-scrollbar {
//   display: none;
// }

thead {
  th {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    border-top: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
}

tbody {
  tr {
    background-color: rgba(0, 165, 146, 0.08);
    border-bottom: 2px solid white;

    &:hover {
      background-color: rgba(0, 165, 146, 0.2);
    }
  }
}

.top-filter {
  padding-bottom: 10px;

  div {
    align-self: center;
  }

  input {
    width: 200px;
  }

  @media (max-width: 350px) {
    input {
      width: 180px;
    }
  }

  button {
    width: 40px;
    height: 40px;
  }
}

.table-responsive {
  padding-left: 15px;
  padding-right: 15px;
}

.table td {
  // background-color: #f0f0f0;
  border-top: 0px;
  vertical-align: middle;
}

// .table-hover tbody tr:hover {
//   background-color: rgba(0, 165, 146, 0.2) !important;
// }

.no-data-table {
  font-size: 28px;
  height: 400px;
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    border-radius: 10px;
    color: #bbbbbb;
    text-align: center;
  }
}

// tbody {
//   display: block;
//   max-height: 500px;
//   overflow: auto;
// }

// thead,
// tbody tr {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
// }

// thead {
//   width: calc(100% - 1em);
// }

// table {
//   width: 400px;
// }

.matching {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
  font-weight: 400;

  &.green {
    background-color: #28a745;
  }

  &.yellow {
    background-color: $primaryYellowColor;
  }

  &.red {
    background-color: $primaryRedColor;
  }
}
