@import "../../styles/variables";

th {
  font-weight: 400;
  font-size: 14px;
}

td {
  //font-weight: 300;
  cursor: default;
  font-size: 14px;

  span {
    cursor: pointer;
  }
}

// .table-responsive {
//   max-height: 497px;
// }

// .table-responsive::-webkit-scrollbar {
//   display: none;
// }

// thead {
//   th {
//     font-weight: 400;
//     color: rgba(0, 0, 0, 0.3);
//     border: 0px !important;
//   }
// }

// tbody {
//   tr {
//     background-color: rgba(0, 165, 146, 0.08);
//     border-bottom: 2px solid white;

//     &:hover {
//       background-color: rgba(0, 165, 146, 0.2);
//     }
//   }
// }

.top-filter {
  padding-bottom: 10px;

  div {
    align-self: center;
  }

  input {
    width: 200px;
  }

  button {
    width: 40px;
    height: 40px;
  }
}

.table-responsive {
  padding-left: 15px;
  padding-right: 15px;
}

.table td {
  // background-color: #f0f0f0;
  border-top: 0px;
}

// .table-hover tbody tr:hover {
//   background-color: rgba(0, 165, 146, 0.2) !important;
// }

.no-data-table {
  font-size: 28px;
  height: 400px;
  margin-top: -16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    border-radius: 10px;
    color: #bbbbbb;
  }
}
