@import "../../styles/variables";

.modal-form {
  .modal-header {
    text-align: left;
    padding: 15px 15px;
    border-bottom: 1px solid #dee2e6;

    small {
      margin: 0;
    }
  }

  .modal-body {
    text-align: left;
    padding: 15px 0px;
  }

  .modal-footer {
    padding: 8px 15px;
  }
}
