@import "variables";

button.primary-fill {
  font-size: 16px;
  width: auto;
  border-radius: 8px;
  padding: 8px;
  border-width: 0;
  color: $primaryTextButton;
  background-color: $primaryColor;
}

button.primary-fill:hover {
  background-color: $primaryColorHover;
}

button:focus {
  outline: none;
}

button.outline-primary {
  padding: 8px;
  color: $primaryColor;
  background-color: transparent;
  border-color: $primaryColor;
  border-style: double;
  border-width: 2px;
  border-radius: 8px;

  .fa {
    font-size: 22px;
  }
}

button.outline-primary:hover {
  color: white;
  background-color: $primaryColor;
}

button.outline-primary-red {
  padding: 8px;
  color: $primaryRedColor;
  background-color: transparent;
  border-color: $primaryRedColor;
  border-style: double;
  border-width: 2px;
  border-radius: 8px;

  .fa {
    font-size: 22px;
  }
}

button.outline-primary-red:hover {
  color: white;
  background-color: $primaryRedColor;
}
