@import "variables";

body {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  font-weight: 300;
}

.row {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.content {
  z-index: 98;
  background-color: $primaryBgContent;
  position: absolute;
  margin-top: 50px;
  margin-left: 230px;
  width: calc(100% - 230px);
  min-height: calc(100% - 50px);
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    min-height: calc(100% - 100px);
  }
}

.nav-tabs {
  border-bottom: 0px;
  margin-bottom: 15px;
  padding-left: 15px;
  margin-top: -15px;

  a {
    color: #212529;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border: 0px !important;
    background-color: #e7e7e7;
    margin-right: 5px;

    &:hover {
      background-color: rgba(0, 165, 146, 0.2);
    }

    &.active {
      color: white !important;
      background-color: $primaryColor !important;
    }
  }
}

.notification-custom-icon {
  flex-basis: 20%;
  position: relative;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  .fa {
    color: #fff;
    font-size: 35px;
  }
}

.notification-title {
  font-weight: 400 !important;
  font-size: 16px !important;
  margin: 5px 0px 5px 0px !important;
}

.notification-custom-content {
  flex-basis: 80%;
  padding: 12px 8px 12px 8px;
  display: inline-block;
}

.notification-custom-success {
  width: 100%;
  display: flex;
  background-color: #28a745;
  border-radius: 4px;

  .notification-custom-icon {
    border-left: 8px solid darken(#28a745, 15%);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}
