@import "variables";

body {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  font-weight: 300;
}

.row {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.content {
  z-index: 98;
  background-color: $primaryBgContent;
  position: absolute;
  margin-top: 50px;
  margin-left: 230px;
  width: calc(100% - 230px);
  min-height: calc(100% - 50px);
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    min-height: calc(100% - 100px);
  }
}

.nav-tabs {
  border-bottom: 0px;
  padding-left: 15px;
  margin-top: -15px;

  a {
    color: #212529;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
    border: 0px !important;
    background-color: #e7e7e7;
    margin-right: 5px;

    &:hover {
      background-color: rgba(0, 165, 146, 0.2);
    }

    &.active {
      color: white !important;
      background-color: $primaryColor !important;
    }
  }
}

.tab-content {
  padding-top: 15px;
}
