@import "variables";

body {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

input,
textarea {
  font-weight: 300;
}

.row {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.content {
  z-index: 98;
  background-color: $primaryBgContent;
  position: absolute;
  margin-top: 50px;
  margin-left: 230px;
  width: calc(100% - 230px);
  min-height: calc(100% - 50px);
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    min-height: calc(100% - 100px);
  }
}
