$primaryColor: #00A592;
$primaryColorHover: #009180;

$primaryColorSidebar: #b8c7ce;
$primaryColorSidebarHover: #1e282c;

// $primaryGreenColor: #00c3ad;
$primaryRedColor: #dc0002;
$primaryBlueColor: #0073b7;
$primaryHover: #ebebeb;
$primaryBorderColor: #ced4da;
$primaryTextButton: #ffffff;

$primaryText: #6c757d;

$primaryBgColor:  linear-gradient(to right, #0f2027ce, #203a43ce, #2c5364ce);
//linear-gradient(to right bottom, rgba(197, 52, 184, 0.7), rgba(178, 28, 193, 07), rgba(153, 1, 204, 0.7), rgba(116, 0, 216, 0.7), rgba(43, 8, 229, 07));

$primaryBgBar: #222d32;

$primaryBgContent: #ecf0f5;
