@import "../../styles/variables";

.main-header-bar {
  position: fixed;
  z-index: 100;
  width: 100%;
  color: white;

  .logo {
    background-color: $primaryColorHover;
    float: left;
    height: 50px;
    font-size: 23px;
    line-height: 50px;
    font-weight: 400;
    text-align: center;
    width: 230px;
  }

  .nav-bar {
    background-color: $primaryColor;
    height: 50px;
    width: calc(100% - 230px);
    float: left;
    border-radius: 0;
    display: flex;

    .toggle-sidebar {
      display: none;
      height: 50px;
      width: 50px;
      text-align: center;
      padding-top: 14px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .toggle-profile {
      z-index: 9;
      position: relative;
      display: block;
      margin-left: auto;
      padding: 7px 30px;
      cursor: default;
      min-width: 180px;
      border-left: 0.5px solid #00796b;

      .frame {
        text-align: center;

        img.head-bar {
          height: 36px;
          width: 36px;
          border-radius: 50%;
          margin-right: 10px;
        }

        &.click {
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
          -webkit-transition: all 0.125s ease;
          transition: all 0.125s ease;
        }
      }

      &:hover,
      &.click {
        background-color: rgba(0, 0, 0, 0.1);

        .frame {
          -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
          -webkit-transition: all 0.125s ease;
          transition: all 0.125s ease;
        }
      }
    }

    .popup-profile-triangle {
      z-index: 10;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid white;
      position: absolute;
      -webkit-transform: translateY(-14px);
      transform: translateY(-14px);
      right: 55px;
      bottom: -13px;
    }

    .popup-profile {
      z-index: 9;
      position: absolute;
      height: 147.5px;
      width: 230px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      top: 48px;
      right: 15px;
      text-align: center;
      cursor: default;

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-top: 10px;
        border: 2px solid rgba(0, 0, 0, 0.1);
      }

      i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
        color: rgba(140, 140, 140, 0.5);

        &:hover {
          color: black;
        }
      }

      span {
        font-size: 14px;
        margin: 8px 8px;
        border-radius: 10px;
        padding: 2px 0;
        color: $primaryColor;
        display: block;
      }

      button {
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        border: 0px;
        padding: 6px;
        color: rgb(140, 140, 140);
        border-top: 0.5px solid rgb(235, 235, 235);
        background-color: rgba(255, 255, 255, 1);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &:hover {
          color: white;
          background-color: $primaryColor;
        }
      }
    }

    @media (max-width: 991px) {
      .toggle-sidebar {
        display: block;
      }
    }
  }

  @media (max-width: 991px) {
    .logo {
      width: 100%;
    }

    .nav-bar {
      width: 100%;
    }

    .popup-profile-triangle {
      bottom: -13px !important;
    }

    .popup-profile {
      top: 98px !important;
    }
  }
}
