@import "../../styles/variables";

.main-row-skill {
  margin: -15px 0px !important;

  .row-skill {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 15px;
    // border-bottom: 1px solid #f4f4f4;

    span {
      display: block;
      font-size: 16px;
      font-weight: 400;
      color: $primaryColor;
    }

    .title-level {
      margin-top: 5px;
      font-weight: 400;
    }

    .des-level {
      margin-left: 20px;
    }
  }

  .not-border {
    border-width: 0px !important;
  }

  .no-data {
    font-size: 28px;
    height: 165px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      border-radius: 10px;
      color: #bbbbbb;
      text-align: center;
    }
  }
}
