@import "../../styles/variables";

.main-create-working {
  margin-top: 15px;

  .header-create-working {
    margin-bottom: 15px;

    .title-text {
      max-width: calc(25% - 5%);
      margin-right: 5%;
      border-radius: 0px 8px 8px 0px;
      color: rgba(0, 0, 0, 0.5);
      background: rgba(0, 165, 146, 0.4);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 5px 15px;
      font-size: 18px;
      font-weight: 400;
      align-self: center;
    }

    @media (max-width: 991px) {
      .title-text {
        max-width: calc(50% - 10%);
        margin-right: 10%;
      }
    }

    @media (max-width: 575px) {
      .title-text {
        max-width: calc(50% - 15px);
        margin-right: 15px;
      }
    }

    .title-search {
      button {
        float: right;
        margin: 0px;
        width: 40px;
        height: 40px;
        margin-right: 15px;
      }
    }
  }

  .box-selected {
    &.line {
      border-bottom: 1.5px dashed #f4f4f4;
      margin-bottom: 10px;
    }
    
    i {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0px;
      right: 15px;

      &:hover {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .no-data {
    font-size: 28px;
    height: 165px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      border-radius: 10px;
      color: #bbbbbb;
    }
  }
}
