@import "../../styles/variables";

.main-row-activity {
  margin: 0px 15px !important;

  .timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      background: #ddd;
      left: 31px;
      margin: 0;
      border-radius: 2px;
    }

    li {
      position: relative;
      margin-right: 10px;
      margin-bottom: 15px;

      .fa.header {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
        position: absolute;
        color: white;
        background: #d2d6de;
        border-radius: 50%;
        text-align: center;
        left: 18px;
        top: 0;
      }

      .timeline-item {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        margin-top: 0;
        background: #fff;
        margin-left: 60px;
        margin-right: 15px;
        padding: 0;
        position: relative;

        .time {
          color: #999;
          float: right;
          padding: 10px;
          font-size: 12px;

          .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
          }
        }

        .timeline-header {
          margin: 0;
          border-bottom: 1px solid #f4f4f4;
          padding: 10px;
          font-size: 16px;
          font-weight: 300;

          span {
            margin-right: 5px;
            color: $primaryColor;
            font-weight: 400;
          }
        }

        .timeline-body {
          font-size: 14px;
          padding: 10px 10px 20px 10px;
          position: relative;

          span {
            position: absolute;
            color: #999;
            font-size: 10px;
            bottom: 2px;
            right: 10px;
          }
        }

        .timeline-footer {
          font-size: 14px;
          padding: 10px;
          border-top: 1px solid #f4f4f4;

          button {
            font-size: 12px;
            padding: 1px 5px;
            border-radius: 6px;
          }
        }
      }
    }

    .time-label {
      span {
        font-weight: 400;
        padding: 5px;
        display: inline-block;
        color: white;
        border-radius: 4px;
      }
    }
  }

  .bg-yellow {
    background-color: #f39c12 !important;
  }

  .bg-pink {
    background-color: #d81b60 !important;
  }

  .bg-green {
    background-color: #00a65a !important;
  }

  .bg-orange {
    background-color: #dd6839 !important;
  }

  .bg-fly {
    background-color: #00c0ef !important;
  }

  .bg-purple {
    background-color: #8e39dd !important;
  }

  .bg-red {
    background-color: #dd4b39 !important;
  }

  .bg-blue {
    background-color: #0073b7 !important;
  }

  .no-data {
    font-size: 28px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      border-radius: 10px;
      color: #bbbbbb;
      text-align: center;
    }
  }
}
