@import "../../styles/variables";

.main-row-matching {
  // margin: -15px 0px !important;
  margin-top: -15px !important;
  margin-bottom: -5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  font-size: 14px;

  .topic {
    font-size: 16px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 400;

    .percent {
      color: #28a745;
    }
  }

  .green {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(40, 167, 69, 0.2);
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 1.5px solid white;
    border-bottom: 3px solid white;
    border-radius: 15px;
  }

  .red {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(220, 0, 2, 0.2);
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 1.5px solid white;
    border-bottom: 3px solid white;
    border-radius: 15px;
  }

  .default {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgba(0, 115, 185, 0.2);
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 1.5px solid white;
    border-bottom: 3px solid white;
    border-radius: 15px;
  }

  .sum {
    font-size: 22px;
    display: inline-block;
    padding: 5px 25px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 30px;
    color: white;

    &.green {
      background-color: rgba(40, 167, 69, 0.6);
    }

    &.yellow {
      background-color: rgba(214, 186, 0, 0.6);
    }

    &.red {
      background-color: rgba(220, 0, 2, 0.6);
    }
  }
}
