@import "../../styles/variables";

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid $primaryColor;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  .box-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;

    div {
      align-self: center;
    }

    h3 {
      display: inline-block;
      font-size: 18px;
      font-weight: 300;
      margin: 0;
      line-height: 1;
    }

    button {
      width: 40px;
      height: 40px;
    }
  }

  .box-body {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .box-footer {
    border-top: 1px solid #f4f4f4;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
